@{
    var activePage = ViewBag.AdminActivePage as string ?? "";
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıtlar - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin-style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="admin-layout">
        <aside class="sidebar" id="admin-sidebar">
            <a asp-controller="Admin" asp-action="Event" class="logo">
                <i class="fa-solid fa-calendar-check"></i> Admin
            </a>
            <nav class="sidebar-nav">
                <h4>Menü</h4>
                <ul>
                    <li><a asp-controller="Admin" asp-action="Event"
                            class="@(activePage == "AdminEtkinlikler" ? "active" : "")"><i
                                class="fa-solid fa-calendar-days"></i>
                            Etkinlikler</a></li>
                    <li><a asp-controller="Admin" asp-action="RegisterUser"
                            class="@(activePage == "AdminKayitlar" ? "active" : "")"><i class="fa-solid fa-users"></i>
                            Kayıtlar</a></li>
                </ul>
                <ul class="logout">
                    <li><a asp-controller="Admin" asp-action="Login"><i
                                class="fa-solid fa-arrow-right-from-bracket"></i> Çıkış Yap</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="admin-main">
            @RenderBody()
        </main>



    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/admin-script.js"></script>
</body>

</html>