<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıtlar - Admin</title>
    <link rel="stylesheet" href="~/css/admin-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="admin-layout">
        <aside class="sidebar" id="admin-sidebar">
            <a asp-controller="Admin" asp-action="Event" class="logo">
                <i class="fa-solid fa-calendar-check"></i> Admin
            </a>
            <nav class="sidebar-nav">
                <h4>Menü</h4>
                <ul>
                    <li><a asp-controller="Admin" asp-action="Event"><i class="fa-solid fa-calendar-days"></i>
                            Etkinlikler</a></li>
                    <li><a asp-controller="Admin" asp-action="RegisterUser"><i class="fa-solid fa-users"></i>
                            Kayıtlar</a></li>
                </ul>
                <ul class="logout">
                    <li><a asp-controller="Admin" asp-action="Login"><i
                                class="fa-solid fa-arrow-right-from-bracket"></i> Çıkış Yap</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="admin-main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/admin-script.js"></script>
</body>

</html>