@model List<AdminEventGetModel>
@{
    Layout = "_AdminLayout";
}

<header class="admin-header">
    <i class="fa-solid fa-bars mobile-menu-toggle" id="mobile-menu-btn"></i>
    <h1>Etkinlik Yönetimi</h1>
    <div class="admin-profile">
        <span>Merhaba, Admin</span>
        <div class="profile-icon"><i class="fa-solid fa-user"></i></div>
    </div>
</header>

<section class="admin-content">
    <div class="content-header">
        <h2>Tüm Etkinlikler</h2>
        <a asp-controller="Admin" asp-action="EventCreate" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-plus"></i> Yeni Etkinlik Ekle
        </a>
    </div>

    <div class="card">
        <div class="table-wrapper">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Etkinlik Adı</th>
                        <th>Tarih</th>
                        <th>Konum</th>
                        <th>Kayıtlar</th>
                        <th>Fiyat</th>
                        <th>Eylemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var adminEntity in Model)
                    {
                        <tr>
                            <td>@adminEntity.EventName</td>
                            <td>@adminEntity.EventDate</td>
                            <td>@adminEntity.EventLocation</td>
                            <td>120 / @adminEntity.EventSubscriber</td>
                            @if (adminEntity.EventPrice == 0)
                            {
                                <td>Ücretsiz</td>
                            }
                            else
                            {
                                <td>₺@adminEntity.EventPrice</td>
                            }
                            <td class="actions">
                                <a asp-controller="Admin" asp-action="EventEdit" class="btn btn-secondary btn-sm"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="admin-kayitlar.html" class="btn btn-secondary btn-sm"><i
                                        class="fa-solid fa-users"></i></a>
                                <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>